.centered-thing {
    
    width: 560px;
    margin: 0 auto;
   
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .img-container {
    text-align: center;
    display: block;
  }